.parent {
    height:100%;
    width:75vw;
    
    
}
form {
    background-color: white;
    border-radius: 8px;
    width:50%;
    overflow: auto;
    
}
  
label {
    width:100px;
    color:red;
    margin-left:10px;
}
input {
    margin-right: 10px;
    margin-top: 10px;
}
button{
    margin-left:10px;
    margin-bottom:5px;
}